* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 400px;
  width: 100%;
}

.container {
  position: relative;
}

.right-btn,
.left-btn {
  position: absolute;
  top: 50%;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 0.5rem;
  cursor: pointer;
}

.right-btn {
  right: 1rem;
}

.left-btn {
  left: 1rem;
}
